

/* Modal container */
#settings-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: auto;
  visibility: hidden;
  background: linear-gradient(135deg, #f0f0f0, #d9d9d9); 
  width: 45vw;
  height: 26.1vw;
  max-width: 90vw;
  max-height: 90vh;
  color: black;
  position: relative;
  top: -15vw;
  border-radius: 30px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 2rem;
  border: 0.5rem solid #ccc;
}

#mainContainer {
  text-align: center;
  position: relative;
  top: 200px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerButtons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 35px;
  padding: 10px 15px 10px 15px;
  border-width: 2px;
  background-color: transparent;
  margin-right: 45px;
  font-size: 25px;
  font-weight: bold; 
}

#start {
  padding-left: 20px;
  padding-right: 20px;
}

#settings-body {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

#button-close {
  margin: 1rem;
  float: right;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333; 
  transition: color 0.3s; 
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  font-weight: bold;
}

.mainTimer {
  font-weight: bold;
  font-size: 6.5rem;  
  display: inline-block;
}

#button-close:hover {
  color: lightcoral;
}

.settings-button {
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  font-weight: 500;
}

.settings-button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.settings-button:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.settings-button:disabled {
  cursor: auto;
  color: grey;
}

/* general / theme / timer */
.settings-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0rem 0rem;
  justify-content: center;
  height: 100%;
  margin-top: 12vh;
  position: relative;
  bottom: 5.5rem;
}

#timer-settings-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  position: absolute;
  top: 4rem;
  right: 2rem;
}

/* work / short/ long div */
.timer-setting {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100px;
  font-weight: 500;
}

/* Number control styles */
/* If put to center then the work timer heading is too far left, so separate */
.number-control {
  display: flex;
  align-items: right;
  text-align: right;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #060505;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 10px;
  height: 100%;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
  
}

.number-left::before {
  content: "-";
  padding: 0 10px;
}

.number-right::after {
  content: "+";
  padding: 0 10px;
  
}

.number-quantity {
  padding: 0.25rem;
  border: 1px solid black;
  width: 50px;
  -moz-appearance: textfield;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #666666;
}

/* Work heading is a bit skewed to left side so this is to adjust it. */
.timer-setting label[for="work-timer"] {
  margin-left: 1.7rem;
}

#timer-display {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* remove arrows (spinner) in all browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

